body{
    font-family: Arial, sans-serif;
    background-color: #acaca0;
    text-align: center;
    margin: 20px;

}

/* Heading styling */
h1{
    color: black;
    margin-buttom: 30px;


}

/* Product box styling */
.product-box{
    Background-color: white;
    width: 300px;
    margin: 0 auto;
    padding: 15px;
    border: 2px solid black;
    border-radius: 8px;

}
/* Product image styling */
.product-box img {
    width: 100%;
    height: auto;
    border-radius: 5px;


}

/* Product title */
.product-box h2{
    color: black;
    font-size: 20px;
    margin-top: 10px;
}


/* Product Description */
.description{
    color: rgb(31, 2, 43)
    font-size: 14px;

    
}
/* Product Price */
.price{
    color: red;
    font-weight: bold;
    margin-button: 15px;
}

/*Button Styling */
button{
    Background-color:blue;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
}
/* Button Hover Effect */
button:hover{
    background-color: darkblue;
}







