body{
    text-align: center;
    font-family: Arial, sans-serif;
    background-color: grey;
    text-align: center;
    margin: 20px;


}

/* Heading styling */
h1{
    color: black;
    margin-buttom: 30px;

}

/* Product box styling */
.product-box{
    
    
    Background-color:grey;
    width: 300px;
    margin: 0 auto;
    padding: 15px;
    border: none;
    border-radius: 15px;

}
/* Product image styling */
.product-box img {
    width: 100%;
    height: auto;
    border-radius:15px;

}

/* Product title */
.product-box h2 {
    color: black;
    font-size: 20px;
    margin-top: 10px;
}


/* Product Description */
.description{
    color: darkcyan
    font-size: 14px;

    
}
/* Product Price */
.price{
    color: rgb(97, 24, 24);
    font-weight: bold;
    margin-button: 15px;
}

/*Button Styling */
button{
    Background-color:blue;
    color:  Orange;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
}
/* Button Hover Effect */
button:hover{
    background-color: rgb(77, 77, 127);
}





